<!-- index.ejs -->
<html>
  <head>
  <link rel="stylesheet" href="/style.css">
    <title>Homepage</title>
  </head>
  <body>
    <%- include('navbar', {links: links}) %>
    <ul>
     <% users.forEach((user) => { %>
       <%- include('user', {user: user}); %>
     <% }); %>
    </ul>

  </body>
</html>

